<component name="libraryTable">
  <library name="spring-plugin">
    <CLASSES>
      <root url="file://$PROJECT_DIR$/ultimateLib/spring-plugin/lib" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$PROJECT_DIR$/ultimateLib/spring-plugin/src/src_spring-openapi.zip!/" />
    </SOURCES>
    <jarDirectory url="file://$PROJECT_DIR$/ultimateLib/spring-plugin/lib" recursive="false" />
  </library>
</component>